# Python
## Python
### Python
#### Python
##### Python
###### python

In [1]:
# Python
- day1
- day2
 - topic

IndentationError: unexpected indent (<ipython-input-1-96736b2c9b22>, line 4)

In [2]:
# Python
- day1
- day2

NameError: name 'day1' is not defined

In [3]:
- day1 - day2

NameError: name 'day1' is not defined

- day1 - day2

In [4]:
- day2

NameError: name 'day2' is not defined

- day2

In [1]:
# Jupyter Markdown

# Jupyter Markdown
## Jupyter Markdown
### JUpyter Markdown
#### Jupyter Markdown
##### JUpyter Markdown
###### Jupyter Markdown

- point 1
- point 2
- point 3

- point 1
    - sub point 1.1
    - sub point 1.2
    - sub point 1.3

- point 1
    - **Sub point 1.1**
    - *Sub point 1.2*
    - ***sub point 1.3***

### Python Introduction
- Python 3
- Python can be used as functional programming
- python can be used as scripting Programming
- Python is initially designed by **Guido Van Rossum** in 1991

In [2]:
# Input and Output Function
# Output Function
print("Hello World")
print("Welcome to python Programming")

Hello World
Welcome to python Programming

In [4]:
print("Markdown Cell",end = ' ')
print("Code Cell")

Markdown Cell Code Cell

In [5]:
# input Function
print("Enter Your Name : ")
a = input(' ')
print('Your Name is ',a)

Enter Your Name :
 Pooja Raju
Your Name is  Pooja Raju

# Variables are also called as identifiers
# Var name always starts with alphabet
## does not start with digits
## does not start with any special char except _

In [6]:
x = 10
type(x)

int

In [7]:
y = 12
type(y)

int

In [8]:
x+y

22

In [9]:
x = 10
y = 10.5
x + y

20.5

In [10]:
type(y)

float

In [11]:
c = 2 + 3j
type(c)

complex

In [12]:
c = 2 +3j
d = 3 + 3j
c + d

(5+6j)

In [13]:
# Type casting
a = 12.56
int(a)

12

In [14]:
a = 13.66
int(a)

13

In [15]:
a = 12.56
int(a)
complex(a)

(12.56+0j)

In [16]:
# to see the output of either function you have to use the print function
a = 12.56
print(int(a))
complex(a)

12

(12.56+0j)

In [17]:
complex(3, 4)

(3+4j)

In [18]:
a = true
type(a)

NameError: name 'true' is not defined

In [19]:
a = True
type(a)

bool

In [20]:
b = False
type(b)

bool

In [21]:
# String
a = "Python"
type(a)

str

In [22]:
a = "python"
b = "p"
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [23]:
a = "pooja"
type(a)

str

In [24]:
a = "robo"
b = 2
print(type(a))
print(type(b))

<class 'str'>
<class 'int'>

In [31]:
a = '100'
print(type(a))
b = int(a)
print(type(b))
c = float(a)
type(c)

<class 'str'>
<class 'int'>

float

In [32]:
a = '2345'
len(a)

4

In [33]:
123/5

24.6

In [34]:
123//5

24

In [35]:
a = 3
b = 6
print(a+b)
print(a - b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

9
-3
18
0.5
3
0
729

In [40]:
x=12
y=5
print(x >= 20 and y <=3)
print(x >= 20 or y >=2)
not x

False
True

False

In [41]:
x=2
y=5
print(x==y)
print(x<y)
print(x<=y)
print(x>y)
print(x>=y)
print(x!=y)

False
True
True
False
False
True

In [45]:
a = "python"
print('P' in a)
print('p' in a)
print('P' not in a)
print('z' in a)
print('b' not in a)

False
True
True
False
True

if condition:
   - statements

In [49]:
# to check if the given number is even or odd
a = int(input("Enter a number"))
if (a%2==0):
    print("even")

Enter a number4
even

In [47]:
type(a)

str

In [48]:
a = int(input("Enter a number"))
type(a)

Enter a number5

int

In [50]:
# if - else:
a = int(input("enter a number"))
if (a%2==0):
    print("even")
else:
    print("odd")

enter a number3
odd

In [51]:
# To check whether the number is divisible by 3 and 5
a = int(input("Enter a number"))
if (a%3==0 and a%5==0):
    print("It is divisible")
else:
    print("It is not divisible")

Enter a number15
It is divisible

In [52]:
# To check the number is positive or negative or zero)
a = int(input(""))
if (a>0):
    print("Positive number")
elif (a<0):
    print("Negative number")
else:
    print("zero")

6
Positive number

In [53]:
# To check for a leap year
year %400==0
year%4 == 0
year%100 != 0

NameError: name 'year' is not defined

In [1]:
year = int(input(""))
if (year%4==0 and year%4==0 and year%100 != 0):
    print("Leap Year")
else:
    print("not a leap year")

2016
Leap Year

In [ ]:
year = int(input(""))
if(year%4==0 or year%400==0 and year%100 !=0):
    print("Leap year")
else:
    print("not a leap year")

# looping statements
# Syntax
- statements

In [ ]:
# Print numbers from 1 to n
n = int(input(''))
i = 1
while i<=n:
    print(i)
    i+=1